@mixin color-scheme ($planet-color) {
    /* secondary menu */
    #secondary-menu {
        button {
            color: $light-grey;
            cursor: pointer;
            border: 0px solid $planet-color;
            &:hover {
                color: $white;
                border-bottom: 4px solid $planet-color;
            }
        }
        button.active-secondary-menu {
            border-bottom: 4px solid $planet-color;
            border-bottom-width: 105%;
            color: $white;
        }
    }

}