/* universal flexbox styles */
@mixin flexbox($flex, $flow, $justify-content:space-between, $align-items:center) {
    display: flex;
    flex-flow: $flex $flow;
    justify-content: $justify-content;
    align-items: $align-items;
}
/* shell for all color schemes */
@mixin color-scheme ($planet-color) {
    /* secondary menu */
    #secondary-menu {
        button {
            color: $light-grey;
            cursor: pointer;
            border: 4px solid transparent;
            &:hover {
                color: $white;
                border-bottom: 4px solid $planet-color;
            }
        }
        button.active-secondary-menu {
            border-bottom: 4px solid $planet-color;
            border-bottom-width: 105%;
            color: $white;
        }
    }

}